VITE_MAINTENANCE=false
VITE_EDITION=test
VITE_PUBLIC_URL=https://laba-photobooth.netlify.app
VITE_LOCALSTORE_KEY_PREFIX=photobooth_

OPENAI_API_KEY=key
REPLICATE_API_TOKEN=key

VITE_FIREBASE_API_KEY=key
VITE_FIREBASE_STORAGE_BUCKET=photobooth-laba-2ca9f

VITE_GENERATION_DURATION_MEDIAN= 45 #seconds
VITE_LIMIT_USER_TIMEFRAME=86400 #seconds
VITE_LIMIT_USER_NUMBER=3
VITE_LIMIT_TOTAL_TIMEFRAME=86400 #seconds
VITE_LIMIT_TOTAL_NUMBER=100
VITE_LIMIT_ADMIN_OVERRIDE=true