OPENAI_API_KEY=key
#VITE_PROMPT="Please rejuvenate this photo and ensure that the person appears to be 6 years old, while maintaining recognizable features.",
VITE_PROMPT="Transform the subject in the photo into a child (ages 6–10), keeping them clearly recognizable. Preserve their distinctive facial features (eye color, hair, skin tone, face structure), scale the body to a child's proportions, and keep the background, lighting, and environment completely unchanged. The result should look like a natural, real photograph."

VITE_FIREBASE_API_KEY=key
REPLICATE_API_TOKEN=key

VITE_EDITION=2026
VITE_PUBLIC_URL=https://laba-photobooth.netlify.app
VITE_LOCALSTORE_KEY_PREFIX=photobooth_
VITE_LIMIT_TIMEFRAME=3600 #seconts
VITE_LIMIT_NUMBER=5 